# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]
Zip=E:\libs\OGRE3D\OgreSDK_14\Media\packs\OgreCore.zip

FileSystem=../../media
FileSystem=../../media/Grid